<a href="https://colab.research.google.com/github/dogee4803/db_course/blob/main/DB_Week12_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL Pandas Examples

In [1]:
import sqlite3 as sl
con = sl.connect('my-test.db')

In [2]:
with con:
  con.execute("""
    CREATE TABLE USER (
      id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
      name TEXT,
      age INTEGER
    );
    """)

In [3]:
sql = 'INSERT INTO USER (id, name, age) values (?, ?, ?)'
data = [
    (1, 'Alice', 21),
    (2, 'Bob', 22),
    (3, 'Chris', 23)
]

In [4]:
with con:
  con.executemany(sql, data)

In [5]:
with con:
  data = con.execute("SELECT * FROM USER WHERE age <= 22")
  for row in data:
    print(row)

(1, 'Alice', 21)
(2, 'Bob', 22)

In [6]:
# Integrate SQLite with Pandas
import pandas as pd
df_skill = pd.DataFrame({
    'user_id': [1,1,2,2,3,3,3],
    'skill': ['Network Security', 'Algorithm Development', 'Network Security', 'Java', 'Python', 'Data Science', 'Machine Learning']
})
df_skill

   user_id                  skill
0        1       Network Security
1        1  Algorithm Development
2        2       Network Security
3        2                   Java
4        3                 Python
5        3           Data Science
6        3       Machine Learning

In [7]:
df_skill.to_sql('SKILL', con)
df = pd.read_sql('''
  SELECT s.user_id, u.name, u.age, s.skill
  FROM USER u LEFT JOIN SKILL s ON u.id = s.user_id
''', con)
df

   user_id   name  age                  skill
0        1  Alice   21  Algorithm Development
1        1  Alice   21       Network Security
2        2    Bob   22                   Java
3        2    Bob   22       Network Security
4        3  Chris   23           Data Science
5        3  Chris   23       Machine Learning
6        3  Chris   23                 Python

In [8]:
df.to_sql('USER_SKILL', con)

7

In [11]:
con.commit()
con.close()

# Data and time functions

In [13]:
# Import the required library
import sqlite3

# Connect to the database (or create it if it doesn't exist)
conn = sqlite3.connect('AdvancedSQLLab3.db')

# Create a cursor object to execute  SQL commands
cursor = conn.cursor()

# Execute the command
r_list=cursor.execute("SELECT date('now')")
for rows in r_list:
  print(rows)
# Commit the transactions and close the connection
conn.commit()
conn.close()

('2023-11-13',)

In [15]:
# Import the required library
import sqlite3

# Connect to the database (or create it if it doesn't exist)
conn = sqlite3.connect('AdvancedSQLLab3.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Execute the command
r_list=cursor.execute("SELECT date ('now', 'start of month', '+1 month', '-1 day')")
for rows in r_list:
  print(rows)
# Commit the transactions and close the connection
conn.commit()
conn.close()

('2023-11-30',)

# A table of time series temperature

In [19]:
from random import uniform, choice
import time
from datetime import datetime, timedelta
import pandas as pd
%matplotlib inline

In [24]:
import datetime
# Import the required library
import sqlite3

# Connect to the database (or create it if it doesn't exist)
conn = sqlite3.connect('AdvancedSQLLab3TIME.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# SQL commands to create tables
# Create an index: For efficient querying, we'll want to index the timestamp column
commands = [
    """
    CREATE TABLE Temperature (Timestamp DATETIME NOT NULL, Temperature NUMERIC NOT NULL);
    """,
    """
    CREATE UNIQUE INDEX idx_timestamp ON Temperature (Timestamp);
    """
]

# Execute the commands to create tables
for command in commands:
  cursor.execute(command)

# SQL commands to insert sample data into tables
# Insert data: Make 500 rows of data and temperature ranges between 18 to 26.
def dt(days):
  return timedelta(days=days)

N_rows = 500
now = datetime.datetime.now()

for i in range(N_rows):
  timestamp = now - dt(days=(N_rows - i))
  temperature = uniform(18, 26)
  # Execute the command to insert sample data into table
  cursor.execute("INSERT INTO Temperature VALUES (:timestamp, :temperature)",
                {'timestamp': timestamp, 'temperature': temperature})

# Execute the command
r_list = cursor.execute("SELECT datetime(Timestamp) as Date, Temperature FROM Temperature")
for rows in r_list:
  print(rows)
# Commit the transactions and close the connection
conn.commit()
conn.close()

('2022-07-01 01:20:14', 21.57916684174166)
('2022-07-02 01:20:14', 24.80935302098443)
('2022-07-03 01:20:14', 24.540711001011694)
('2022-07-04 01:20:14', 21.105411798002482)
('2022-07-05 01:20:14', 21.709322421513466)
('2022-07-06 01:20:14', 18.890156805326185)
('2022-07-07 01:20:14', 21.01496251944326)
('2022-07-08 01:20:14', 21.358137225464578)
('2022-07-09 01:20:14', 21.842446062199947)
('2022-07-10 01:20:14', 20.91470983022121)
('2022-07-11 01:20:14', 21.841156649162304)
('2022-07-12 01:20:14', 25.17707527808301)
('2022-07-13 01:20:14', 21.47088542957248)
('2022-07-14 01:20:14', 18.74899749022967)
('2022-07-15 01:20:14', 23.191508480456076)
('2022-07-16 01:20:14', 24.788757212216716)
('2022-07-17 01:20:14', 18.27337738866907)
('2022-07-18 01:20:14', 21.757324764945555)
('2022-07-19 01:20:14', 21.84478173421653)
('2022-07-20 01:20:14', 24.496717656607586)
('2022-07-21 01:20:14', 22.6593857729269)
('2022-07-22 01:20:14', 25.32200717248473)
('2022-07-23 01:20:14', 20.866095812134937)
('2022-07-24 01:20:14', 22.892447520737807)
('2022-07-25 01:20:14', 22.619875344135785)
('2022-07-26 01:20:14', 22.807260306522004)
('2022-07-27 01:20:14', 22.12962270639481)
('2022-07-28 01:20:14', 18.19695705942977)
('2022-07-29 01:20:14', 25.180109112141295)
('2022-07-30 01:20:14', 23.239288459704444)
('2022-07-31 01:20:14', 20.670101504894184)
('2022-08-01 01:20:14', 19.621837525115726)
('2022-08-02 01:20:14', 20.627206364475846)
('2022-08-03 01:20:14', 25.009667230926205)
('2022-08-04 01:20:14', 21.327904109394893)
('2022-08-05 01:20:14', 19.179323310358498)
('2022-08-06 01:20:14', 18.862490890154838)
('2022-08-07 01:20:14', 19.747364274332053)
('2022-08-08 01:20:14', 20.10687767593148)
('2022-08-09 01:20:14', 21.0994038171765)
('2022-08-10 01:20:14', 19.06165165832086)
('2022-08-11 01:20:14', 18.506639734839112)
('2022-08-12 01:20:14', 18.518142225823894)
('2022-08-13 01:20:14', 21.828718129887132)
('2022-08-14 01:20:14', 24.730921918488377)
('2022-08-15 01:20:14', 23.737023040745868)
('2022-08-16 01:20:14', 19.283798488125758)
('2022-08-17 01:20:14', 22.53159792251925)
('2022-08-18 01:20:14', 19.03129951215141)
('2022-08-19 01:20:14', 18.476706158363054)
('2022-08-20 01:20:14', 20.190043330054824)
('2022-08-21 01:20:14', 21.933451895606744)
('2022-08-22 01:20:14', 24.546629044007346)
('2022-08-23 01:20:14', 19.16755494225029)
('2022-08-24 01:20:14', 22.306704976012014)
('2022-08-25 01:20:14', 24.14382698633836)
('2022-08-26 01:20:14', 25.422258318661754)
('2022-08-27 01:20:14', 22.185900736810744)
('2022-08-28 01:20:14', 21.443333642899024)
('2022-08-29 01:20:14', 22.150329565325457)
('2022-08-30 01:20:14', 19.828979907419157)
('2022-08-31 01:20:14', 25.7242373373736)
('2022-09-01 01:20:14', 21.34922201781815)
('2022-09-02 01:20:14', 23.390706191513544)
('2022-09-03 01:20:14', 19.41307561510484)
('2022-09-04 01:20:14', 20.411779793122303)
('2022-09-05 01:20:14', 20.68005900994767)
('2022-09-06 01:20:14', 20.958394325639205)
('2022-09-07 01:20:14', 25.44420653178559)
('2022-09-08 01:20:14', 18.250652612855234)
('2022-09-09 01:20:14', 21.65054886343601)
('2022-09-10 01:20:14', 20.55009667739445)
('2022-09-11 01:20:14', 19.708671156749997)
('2022-09-12 01:20:14', 23.30680084067758)
('2022-09-13 01:20:14', 22.811757122794702)
('2022-09-14 01:20:14', 21.073125318909973)
('2022-09-15 01:20:14', 21.961752854240437)
('2022-09-16 01:20:14', 24.140362701987474)
('2022-09-17 01:20:14', 25.717287196267794)
('2022-09-18 01:20:14', 18.64097169386529)
('2022-09-19 01:20:14', 19.459261259359838)
('2022-09-20 01:20:14', 22.46769461259371)
('2022-09-21 01:20:14', 23.44632339010957)
('2022-09-22 01:20:14', 22.968129203648743)
('2022-09-23 01:20:14', 22.04650057691603)
('2022-09-24 01:20:14', 24.144191211788396)
('2022-09-25 01:20:14', 19.83691050737066)
('2022-09-26 01:20:14', 20.665878544286592)
('2022-09-27 01:20:14', 19.240117068920522)
('2022-09-28 01:20:14', 25.98761273942656)
('2022-09-29 01:20:14', 19.30444011689438)
('2022-09-30 01:20:14', 21.57205524946563)
('2022-10-01 01:20:14', 18.58015283067138)
('2022-10-02 01:20:14', 20.376921645151462)
('2022-10-03 01:20:14', 19.510351907871875)
('2022-10-04 01:20:14', 25.532642036970877)
('2022-10-05 01:20:14', 19.29357549781682)
('2022-10-06 01:20:14', 19.354159500620867)
('2022-10-07 01:20:14', 23.773202280649144)
('2022-10-08 01:20:14', 21.950426069025436)
('2022-10-09 01:20:14', 25.984448953571352)
('2022-10-10 01:20:14', 19.24139290483092)
('2022-10-11 01:20:14', 24.203209612219624)
('2022-10-12 01:20:14', 20.213966703187157)
('2022-10-13 01:20:14', 20.68342615213635)
('2022-10-14 01:20:14', 23.3425045483416)
('2022-10-15 01:20:14', 22.020998903128394)
('2022-10-16 01:20:14', 19.241353177426642)
('2022-10-17 01:20:14', 25.309815969150158)
('2022-10-18 01:20:14', 23.106146645692775)
('2022-10-19 01:20:14', 18.086000228566686)
('2022-10-20 01:20:14', 19.947495440679145)
('2022-10-21 01:20:14', 21.070822598649027)
('2022-10-22 01:20:14', 25.847037214724992)
('2022-10-23 01:20:14', 19.960793121076907)
('2022-10-24 01:20:14', 18.56525343483547)
('2022-10-25 01:20:14', 20.686428526205127)
('2022-10-26 01:20:14', 20.995608635203467)
('2022-10-27 01:20:14', 19.408482494335008)
('2022-10-28 01:20:14', 21.840683307860246)
('2022-10-29 01:20:14', 21.747061149738716)
('2022-10-30 01:20:14', 25.727794151648464)
('2022-10-31 01:20:14', 23.392308904259053)
('2022-11-01 01:20:14', 25.772229084218825)
('2022-11-02 01:20:14', 22.480135127814524)
('2022-11-03 01:20:14', 21.593395982781665)
('2022-11-04 01:20:14', 20.671747257504077)
('2022-11-05 01:20:14', 25.8787263106685)
('2022-11-06 01:20:14', 18.983583458224686)
('2022-11-07 01:20:14', 23.151788575295537)
('2022-11-08 01:20:14', 23.86435908215867)
('2022-11-09 01:20:14', 19.941418108519027)
('2022-11-10 01:20:14', 21.524290464612015)
('2022-11-11 01:20:14', 21.50162713485848)
('2022-11-12 01:20:14', 24.293223673787253)
('2022-11-13 01:20:14', 19.91199978415909)
('2022-11-14 01:20:14', 23.585295023119656)
('2022-11-15 01:20:14', 23.51654366583292)
('2022-11-16 01:20:14', 23.432452634495338)
('2022-11-17 01:20:14', 20.330487709643997)
('2022-11-18 01:20:14', 22.179103092887573)
('2022-11-19 01:20:14', 23.533337396399858)
('2022-11-20 01:20:14', 20.04524732589436)
('2022-11-21 01:20:14', 19.31274817915927)
('2022-11-22 01:20:14', 19.345517462118714)
('2022-11-23 01:20:14', 23.414981475283938)
('2022-11-24 01:20:14', 22.7278662113452)
('2022-11-25 01:20:14', 24.746710396393024)
('2022-11-26 01:20:14', 23.803308846461125)
('2022-11-27 01:20:14', 18.892034130992254)
('2022-11-28 01:20:14', 20.132950790870392)
('2022-11-29 01:20:14', 18.755869585060406)
('2022-11-30 01:20:14', 19.509032018110705)
('2022-12-01 01:20:14', 21.37004685586725)
('2022-12-02 01:20:14', 19.222086710281577)
('2022-12-03 01:20:14', 23.41506230523607)
('2022-12-04 01:20:14', 23.85659337839587)
('2022-12-05 01:20:14', 18.642939273251052)
('2022-12-06 01:20:14', 23.0815952467866)
('2022-12-07 01:20:14', 21.065174756363056)
('2022-12-08 01:20:14', 25.43552878207192)
('2022-12-09 01:20:14', 20.592737366762364)
('2022-12-10 01:20:14', 20.057606874075567)
('2022-12-11 01:20:14', 19.745096332610416)
('2022-12-12 01:20:14', 24.657048986968952)
('2022-12-13 01:20:14', 24.01523471019584)
('2022-12-14 01:20:14', 21.124053459047495)
('2022-12-15 01:20:14', 22.687363120788433)
('2022-12-16 01:20:14', 18.465324074678698)
('2022-12-17 01:20:14', 18.526345878380646)
('2022-12-18 01:20:14', 24.114484197014907)
('2022-12-19 01:20:14', 24.784827045996213)
('2022-12-20 01:20:14', 22.997258482312848)
('2022-12-21 01:20:14', 23.871443216180563)
('2022-12-22 01:20:14', 25.16721496725861)
('2022-12-23 01:20:14', 23.596628825931177)
('2022-12-24 01:20:14', 25.932975727937155)
('2022-12-25 01:20:14', 25.95857037187003)
('2022-12-26 01:20:14', 21.035201029795726)
('2022-12-27 01:20:14', 22.765241359604936)
('2022-12-28 01:20:14', 25.6300205641189)
('2022-12-29 01:20:14', 18.48057461296732)
('2022-12-30 01:20:14', 24.80298499058566)
('2022-12-31 01:20:14', 25.33559928156435)
('2023-01-01 01:20:14', 21.422698109820033)
('2023-01-02 01:20:14', 21.033138286194784)
('2023-01-03 01:20:14', 19.292062689158122)
('2023-01-04 01:20:14', 21.850232039179954)
('2023-01-05 01:20:14', 24.862909197104596)
('2023-01-06 01:20:14', 20.570007713829725)
('2023-01-07 01:20:14', 19.432483468230508)
('2023-01-08 01:20:14', 24.806782625821715)
('2023-01-09 01:20:14', 21.044082843845977)
('2023-01-10 01:20:14', 22.086690612019353)
('2023-01-11 01:20:14', 19.98895904674084)
('2023-01-12 01:20:14', 23.359664384299617)
('2023-01-13 01:20:14', 23.319644092966662)
('2023-01-14 01:20:14', 22.360463722416426)
('2023-01-15 01:20:14', 20.229965753240883)
('2023-01-16 01:20:14', 22.69492616183077)
('2023-01-17 01:20:14', 18.01395089550119)
('2023-01-18 01:20:14', 22.31672085304326)
('2023-01-19 01:20:14', 18.518756397786355)
('2023-01-20 01:20:14', 18.098036529856024)
('2023-01-21 01:20:14', 24.589668339268947)
('2023-01-22 01:20:14', 22.803854828872936)
('2023-01-23 01:20:14', 20.484669203436724)
('2023-01-24 01:20:14', 24.01569335918957)
('2023-01-25 01:20:14', 22.260342099679686)
('2023-01-26 01:20:14', 23.640262642356365)
('2023-01-27 01:20:14', 22.81765574052933)
('2023-01-28 01:20:14', 20.450209568239792)
('2023-01-29 01:20:14', 22.497288176669407)
('2023-01-30 01:20:14', 25.19444034896346)
('2023-01-31 01:20:14', 24.99306677533617)
('2023-02-01 01:20:14', 24.601198618142007)
('2023-02-02 01:20:14', 24.285474124856524)
('2023-02-03 01:20:14', 19.963903003667177)
('2023-02-04 01:20:14', 21.050896874167123)
('2023-02-05 01:20:14', 20.33733024664723)
('2023-02-06 01:20:14', 22.030490218602232)
('2023-02-07 01:20:14', 19.183631837196973)
('2023-02-08 01:20:14', 18.24206442987075)
('2023-02-09 01:20:14', 20.838225196409077)
('2023-02-10 01:20:14', 23.216634079795107)
('2023-02-11 01:20:14', 23.176300125255583)
('2023-02-12 01:20:14', 22.693887087431527)
('2023-02-13 01:20:14', 23.437541183860958)
('2023-02-14 01:20:14', 18.993834229132126)
('2023-02-15 01:20:14', 22.638997807255354)
('2023-02-16 01:20:14', 19.66079532517207)
('2023-02-17 01:20:14', 23.867693401793254)
('2023-02-18 01:20:14', 19.43480100776167)
('2023-02-19 01:20:14', 25.767672108368455)
('2023-02-20 01:20:14', 23.014068714881798)
('2023-02-21 01:20:14', 24.6917486730154)
('2023-02-22 01:20:14', 20.888369713503575)
('2023-02-23 01:20:14', 23.255609236364556)
('2023-02-24 01:20:14', 20.96690433997901)
('2023-02-25 01:20:14', 19.31238589590854)
('2023-02-26 01:20:14', 19.2580852508843)
('2023-02-27 01:20:14', 21.74111594386674)
('2023-02-28 01:20:14', 25.482215363252955)
('2023-03-01 01:20:14', 25.139869174491785)
('2023-03-02 01:20:14', 24.147157712193764)
('2023-03-03 01:20:14', 23.566419683120515)
('2023-03-04 01:20:14', 23.531827236653914)
('2023-03-05 01:20:14', 22.00561692238002)
('2023-03-06 01:20:14', 22.25894838882691)
('2023-03-07 01:20:14', 18.06573356643313)
('2023-03-08 01:20:14', 19.405426203824966)
('2023-03-09 01:20:14', 20.327094705435734)
('2023-03-10 01:20:14', 19.474606368860552)
('2023-03-11 01:20:14', 21.19527769486172)
('2023-03-12 01:20:14', 18.613578760853866)
('2023-03-13 01:20:14', 24.670858080253826)
('2023-03-14 01:20:14', 18.470720654324907)
('2023-03-15 01:20:14', 18.09907497475039)
('2023-03-16 01:20:14', 18.69279095217091)
('2023-03-17 01:20:14', 19.305085955523666)
('2023-03-18 01:20:14', 21.354558033215127)
('2023-03-19 01:20:14', 22.932428189317328)
('2023-03-20 01:20:14', 20.967403189307674)
('2023-03-21 01:20:14', 21.520902658924165)
('2023-03-22 01:20:14', 18.949395656268607)
('2023-03-23 01:20:14', 18.496381158680812)
('2023-03-24 01:20:14', 24.2709448454071)
('2023-03-25 01:20:14', 24.227415456551537)
('2023-03-26 01:20:14', 23.077713461722446)
('2023-03-27 01:20:14', 20.73861941066249)
('2023-03-28 01:20:14', 18.751078439801066)
('2023-03-29 01:20:14', 19.83740282071136)
('2023-03-30 01:20:14', 19.084200501284904)
('2023-03-31 01:20:14', 20.94500932114408)
('2023-04-01 01:20:14', 23.123588087899705)
('2023-04-02 01:20:14', 19.627779510668166)
('2023-04-03 01:20:14', 25.800048559577235)
('2023-04-04 01:20:14', 25.575606200829775)
('2023-04-05 01:20:14', 21.56332290917942)
('2023-04-06 01:20:14', 20.433710745831505)
('2023-04-07 01:20:14', 22.78200285650823)
('2023-04-08 01:20:14', 20.504501393940203)
('2023-04-09 01:20:14', 25.23320307752116)
('2023-04-10 01:20:14', 19.391188750617783)
('2023-04-11 01:20:14', 24.96564356562622)
('2023-04-12 01:20:14', 19.13645051798169)
('2023-04-13 01:20:14', 20.5647877898608)
('2023-04-14 01:20:14', 19.394803039782857)
('2023-04-15 01:20:14', 25.77318248800954)
('2023-04-16 01:20:14', 22.80703800076965)
('2023-04-17 01:20:14', 19.676461897628425)
('2023-04-18 01:20:14', 21.16435666938861)
('2023-04-19 01:20:14', 21.960635456588626)
('2023-04-20 01:20:14', 22.868692435889972)
('2023-04-21 01:20:14', 22.7545371377251)
('2023-04-22 01:20:14', 21.93733151450726)
('2023-04-23 01:20:14', 23.798359431838485)
('2023-04-24 01:20:14', 22.619657608269975)
('2023-04-25 01:20:14', 25.604674262679797)
('2023-04-26 01:20:14', 25.23699529632743)
('2023-04-27 01:20:14', 18.09358226080345)
('2023-04-28 01:20:14', 19.624470015209454)
('2023-04-29 01:20:14', 24.09847606197271)
('2023-04-30 01:20:14', 23.812015941691953)
('2023-05-01 01:20:14', 19.64336146769419)
('2023-05-02 01:20:14', 18.52453384594783)
('2023-05-03 01:20:14', 21.30980511124221)
('2023-05-04 01:20:14', 25.543242381635665)
('2023-05-05 01:20:14', 24.435207087289943)
('2023-05-06 01:20:14', 21.807063008922942)
('2023-05-07 01:20:14', 24.169866982836673)
('2023-05-08 01:20:14', 22.04322845942047)
('2023-05-09 01:20:14', 22.42291712202657)
('2023-05-10 01:20:14', 20.387059340114387)
('2023-05-11 01:20:14', 25.580366665080362)
('2023-05-12 01:20:14', 24.31702167812569)
('2023-05-13 01:20:14', 18.041686292820895)
('2023-05-14 01:20:14', 20.172769256210717)
('2023-05-15 01:20:14', 20.177014264919322)
('2023-05-16 01:20:14', 25.280156555536955)
('2023-05-17 01:20:14', 20.474451718168208)
('2023-05-18 01:20:14', 21.731831016418862)
('2023-05-19 01:20:14', 25.007530919608428)
('2023-05-20 01:20:14', 22.275925515474363)
('2023-05-21 01:20:14', 20.93604390512862)
('2023-05-22 01:20:14', 22.159316151161843)
('2023-05-23 01:20:14', 20.66013795655803)
('2023-05-24 01:20:14', 20.422887362563173)
('2023-05-25 01:20:14', 20.855741026685173)
('2023-05-26 01:20:14', 24.673365965702004)
('2023-05-27 01:20:14', 22.608592572107575)
('2023-05-28 01:20:14', 22.861087709902083)
('2023-05-29 01:20:14', 18.63259660804124)
('2023-05-30 01:20:14', 23.469340732432627)
('2023-05-31 01:20:14', 23.4869590338308)
('2023-06-01 01:20:14', 21.54848792736736)
('2023-06-02 01:20:14', 19.74421964330793)
('2023-06-03 01:20:14', 25.040767875610037)
('2023-06-04 01:20:14', 20.788932919873837)
('2023-06-05 01:20:14', 23.570529806492864)
('2023-06-06 01:20:14', 22.437439795170516)
('2023-06-07 01:20:14', 18.6668217944157)
('2023-06-08 01:20:14', 22.56142304745653)
('2023-06-09 01:20:14', 25.929780149460253)
('2023-06-10 01:20:14', 25.686287049618127)
('2023-06-11 01:20:14', 25.443815958884514)
('2023-06-12 01:20:14', 24.229278802143895)
('2023-06-13 01:20:14', 18.624092163159137)
('2023-06-14 01:20:14', 21.082861554157382)
('2023-06-15 01:20:14', 22.28854162257474)
('2023-06-16 01:20:14', 24.434174014189175)
('2023-06-17 01:20:14', 18.038622107589365)
('2023-06-18 01:20:14', 23.47370507855266)
('2023-06-19 01:20:14', 21.056789025943665)
('2023-06-20 01:20:14', 18.9750810393135)
('2023-06-21 01:20:14', 24.372179037840535)
('2023-06-22 01:20:14', 25.038866136961378)
('2023-06-23 01:20:14', 21.894685153024476)
('2023-06-24 01:20:14', 25.493716979079974)
('2023-06-25 01:20:14', 21.768060015674514)
('2023-06-26 01:20:14', 18.373354377906907)
('2023-06-27 01:20:14', 19.89241039619013)
('2023-06-28 01:20:14', 23.772621406457567)
('2023-06-29 01:20:14', 25.262318220454613)
('2023-06-30 01:20:14', 21.539883502672318)
('2023-07-01 01:20:14', 23.90867877934082)
('2023-07-02 01:20:14', 18.325843586396758)
('2023-07-03 01:20:14', 21.78915920518636)
('2023-07-04 01:20:14', 23.636388780528655)
('2023-07-05 01:20:14', 19.134537599009143)
('2023-07-06 01:20:14', 24.646753883395856)
('2023-07-07 01:20:14', 19.432571171826687)
('2023-07-08 01:20:14', 20.008526951876927)
('2023-07-09 01:20:14', 19.77388044485412)
('2023-07-10 01:20:14', 22.166285731533552)
('2023-07-11 01:20:14', 24.38097148821126)
('2023-07-12 01:20:14', 25.485950353289912)
('2023-07-13 01:20:14', 18.266217719311435)
('2023-07-14 01:20:14', 19.11994691382344)
('2023-07-15 01:20:14', 19.954475488940524)
('2023-07-16 01:20:14', 19.21262453377548)
('2023-07-17 01:20:14', 22.077507154885147)
('2023-07-18 01:20:14', 19.183784568386717)
('2023-07-19 01:20:14', 20.338961813404488)
('2023-07-20 01:20:14', 20.03050879110468)
('2023-07-21 01:20:14', 23.113778063611093)
('2023-07-22 01:20:14', 21.28052130626925)
('2023-07-23 01:20:14', 24.429789108207796)
('2023-07-24 01:20:14', 18.269001378151067)
('2023-07-25 01:20:14', 19.35953532725241)
('2023-07-26 01:20:14', 24.49980800373828)
('2023-07-27 01:20:14', 23.061897318132868)
('2023-07-28 01:20:14', 19.64705105865867)
('2023-07-29 01:20:14', 25.656640428166796)
('2023-07-30 01:20:14', 19.4565519636525)
('2023-07-31 01:20:14', 24.745734380814593)
('2023-08-01 01:20:14', 22.23410278247911)
('2023-08-02 01:20:14', 18.633383271665146)
('2023-08-03 01:20:14', 22.303559304200682)
('2023-08-04 01:20:14', 25.88492949162521)
('2023-08-05 01:20:14', 23.162464328802436)
('2023-08-06 01:20:14', 18.881431365055114)
('2023-08-07 01:20:14', 20.86757626166375)
('2023-08-08 01:20:14', 24.93521714328383)
('2023-08-09 01:20:14', 21.454087029696346)
('2023-08-10 01:20:14', 20.38062808903147)
('2023-08-11 01:20:14', 19.911760519561767)
('2023-08-12 01:20:14', 20.84505657967332)
('2023-08-13 01:20:14', 22.390486957185953)
('2023-08-14 01:20:14', 23.31493815824425)
('2023-08-15 01:20:14', 24.20130861226157)
('2023-08-16 01:20:14', 23.238936640351167)
('2023-08-17 01:20:14', 20.083784960749615)
('2023-08-18 01:20:14', 23.053957329939486)
('2023-08-19 01:20:14', 24.496944564907857)
('2023-08-20 01:20:14', 19.608475474144416)
('2023-08-21 01:20:14', 24.598433834455882)
('2023-08-22 01:20:14', 24.4078719033106)
('2023-08-23 01:20:14', 24.192361384278428)
('2023-08-24 01:20:14', 21.356017643729956)
('2023-08-25 01:20:14', 23.040910582093108)
('2023-08-26 01:20:14', 19.715656384287314)
('2023-08-27 01:20:14', 22.30847903231861)
('2023-08-28 01:20:14', 24.366385756721776)
('2023-08-29 01:20:14', 21.788584900456804)
('2023-08-30 01:20:14', 21.30522358012075)
('2023-08-31 01:20:14', 22.292487508376944)
('2023-09-01 01:20:14', 20.756337103382577)
('2023-09-02 01:20:14', 24.940416343533542)
('2023-09-03 01:20:14', 22.50671835741856)
('2023-09-04 01:20:14', 21.34439106553861)
('2023-09-05 01:20:14', 25.40581843697941)
('2023-09-06 01:20:14', 25.33515168344584)
('2023-09-07 01:20:14', 21.069048749764498)
('2023-09-08 01:20:14', 25.727268440839286)
('2023-09-09 01:20:14', 25.51128043926501)
('2023-09-10 01:20:14', 19.810595197945503)
('2023-09-11 01:20:14', 21.082644621879687)
('2023-09-12 01:20:14', 19.291980654180556)
('2023-09-13 01:20:14', 25.910782101666484)
('2023-09-14 01:20:14', 23.05214741472456)
('2023-09-15 01:20:14', 23.349973025431108)
('2023-09-16 01:20:14', 20.037214375823666)
('2023-09-17 01:20:14', 25.469188986546)
('2023-09-18 01:20:14', 22.477339103239256)
('2023-09-19 01:20:14', 19.400286364304392)
('2023-09-20 01:20:14', 20.501921617150195)
('2023-09-21 01:20:14', 20.208541807053223)
('2023-09-22 01:20:14', 25.393258290732035)
('2023-09-23 01:20:14', 24.939502998541172)
('2023-09-24 01:20:14', 18.233341151681632)
('2023-09-25 01:20:14', 21.109269379912885)
('2023-09-26 01:20:14', 18.216753774645362)
('2023-09-27 01:20:14', 18.442712912980728)
('2023-09-28 01:20:14', 20.857819161086415)
('2023-09-29 01:20:14', 25.236271713838555)
('2023-09-30 01:20:14', 23.01767450740479)
('2023-10-01 01:20:14', 22.418977251237298)

In [25]:
# Import the required library
import sqlite3

# Connect to the database (or create it if it doesn't exist)
conn = sqlite3.connect('AdvancedSQLLab3TIME.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Execute the command
r_list = cursor.execute("SELECT datetime(Timestamp) as Date, Temperature FROM Temperature LIMIT 5")
for rows in r_list:
  print(rows)
# Commit the transactions and close the connection
conn.commit()
conn.close()

('2022-07-01 01:20:14', 21.57916684174166)
('2022-07-02 01:20:14', 24.80935302098443)
('2022-07-03 01:20:14', 24.540711001011694)
('2022-07-04 01:20:14', 21.105411798002482)
('2022-07-05 01:20:14', 21.709322421513466)

In [26]:
# Filter with a datetime
# Import the required library
import sqlite3

# Connect to the database (or create it if it doesn't exist)
conn = sqlite3.connect('AdvancedSQLLab3TIME.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Execute the command
r_list = cursor.execute("SELECT datetime(Timestamp) as Date, Temperature FROM Temperature WHERE Date <= '2022-06-31 14:21:45'")
for rows in r_list:
  print(rows)
# Commit the transactions and close the connection
conn.commit()
conn.close()