<a href="https://colab.research.google.com/github/dogee4803/db_course/blob/main/db_week11_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1

In [ ]:
SELECT ID, name,
  CASE
    WHEN tot_cred < 30 THEN 'Freshman'
    WHEN tot_cred >= 30 AND tot_cred < 60 THEN 'Sophomore'
    WHEN tot_cred >= 60 AND tot_cred < 90 THEN 'Junior'
    WHEN tot_cred >= 90 AND tot_cred < 120 THEN 'Senior'
    ELSE 'Graduate'
  END AS status
FROM student;

# Exercise 2

In [ ]:
SELECT ID, name,
  CASE
    WHEN tot_cred < 30 THEN 'Freshman'
    WHEN tot_cred >= 30 AND tot_cred < 60 THEN 'Sophomore'
    WHEN tot_cred >= 60 AND tot_cred < 90 THEN 'Junior'
    WHEN tot_cred >= 90 AND tot_cred < 120 THEN 'Senior'
    ELSE 'Graduate'
  END AS status,
  COUNT(ID)
FROM student
  GROUP BY status;

# Group Exercises

In [ ]:
# Question 1
SELECT
  student.id,
  student.name,
  SUM(takes.grade * course.credits) / SUM(5 * course.credits) AS gpa # 5 is a max_grade
FROM
  student
  JOIN takes ON takes.student_id = student.id
  JOIN course ON course.id = takes.course_id;
# Question 2
SELECT ID, name,
  CASE
    WHEN gpa < 1.5 THEN 'F'
    WHEN gpa >= 1.5 AND gpa < 2 THEN 'D'
    WHEN gpa >= 2 AND gpa < 3 THEN 'C'
    WHEN gpa >= 3 AND gpa < 3.75 THEN 'B'
    ELSE 'A'
  END AS category,
  COUNT(ID)
FROM student
  GROUP BY category;